@import url("../card/card.css");
@import url("./__image/game-sales__image.css");

.game-sales {
    background-color: #F1F2F3;
    margin: 45px 90px 0;
    display: flex;
    justify-content: space-between;
}