@import url("../card/card.css");
@import url("./__image/game-sales__image.css");

.game-sales {
    background-color: #F1F2F3;
    margin: 45px 90px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .game-sales {
        margin: 35px 26px 0;
    }
}
@media screen and (max-width: 768px){
    .game-sales {
        margin: 45px 42px 0;
    }
}
@media screen and (max-width: 360px){
    .game-sales {
        margin: 60px 0 0;
        flex-direction: column-reverse;
    }
}