.header__menu {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-column-gap: 30.5px;
    margin-top: 61px;
    list-style: none;
    margin-left: 3px;
}

@media screen and (max-width: 1024px){
    .header__menu {
        display: none;
    } 
    
}
