@import url('./__button/use-case__button.css');
@import url('./__logo_partners/use-cases__logo_partners.css');
@import url('./__logo_buttons/use-cases__logo_buttons.css');

.use-cases__logo {
  display: flex;
  /* flex-direction: column; */
  margin: 75px 70px 0;

  /* display: grid;
  height: max-content;
  width: 1120px;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 61px;
  align-items: center;
  justify-items: center;
  margin: 75px 70px 0;
  padding: 0; */
}

/* @media screen and (max-width: 1024px) {
  .use-cases__logo {
    grid-template-columns: 57px 63px 62px 120px 30px 30px;
    width: 864px;
    grid-column-gap: 45px;
    margin: 55px 54px 0;
  }
  .use-cases__logo img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .use-cases__logo {
    width: 608px;
    grid-column-gap: 32px;
    margin: 45px 38px 0;
  }
}
@media screen and (max-width: 360px) {
  .use-cases__logo {
    grid-template-columns: repeat(3, auto);
    width: 320px;
    grid-column-gap: 54px;
    margin: 55px 20px 0;
  }
  .use-cases__logo .no360 {
    display: none;
  }
} */
