@import url("../card/card.css");
@import url("../payments/__image/payments__image.css");



.payments {
    background-color: #F1F2F3;
    margin: 0 90px 0;
    display: flex;
    justify-content: space-between;
}