.card_name_line {
    margin: auto 0 auto 20px;
    width: 120px;
    height: 0px;
    border: 1px solid rgba(24, 23, 28, 0.7);
}

.revenue-opportunities, .use-cases .card_name_line {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.revenue-opportunities .card_name_line {
    border: 1px solid rgba(255, 255, 255, 0.7);
}


  @media screen and (max-width: 768px){
    .card_name_line {
        width: 76px;
    }
  }
  @media screen and (max-width: 360px){
    .card_name_line {
        width: 60px;
    }
  }