@import url("./grey-button/grey-button.css");
@import url("./pink-button/pink-button.css");

.card_two-buttons {
    margin-top: 65px;
    display: flex;  
}

@media screen and (max-width: 1024px){
    .card_two-buttons {
        margin-top: 50px;
        display: block;  
    }
}
@media screen and (max-width: 768px){
    .card_two-buttons {
        margin-top: 30px;
        display: block;  
    }
}
@media screen and (max-width: 360px){
    .card_two-buttons {
        margin-top: 50px;
        display: block;  
    }
}   