.pink-button {
    font-family: "sgmedium20";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #FF0055;
    border: 0;
    color: white;
    width: 200px;
    height: 48px;
}