@import url("./partners__menu_logo/partners__menu_logo.css");

.partners__menu {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin: auto 160px auto;
    padding-top: 60px;
    

    

}