.input-container__input {
  box-sizing: border-box;
  width: 560px;
  height: 48px;
  margin: 5px 0 23px;
  padding: 0;
  background-color: rgba(24, 23, 28, 0.07);
  border: none;
  font-family: 'sgbook20';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0 14px;
}

/* .input-container__input:last-child {
  margin: 5px 0 24px;
} */

.input-container__input:valid {
  background-color: white;
  border: 1px solid #18171c;
}

@media screen and (max-width: 1024px) {
  .input-container__input {
    width: 432px;
  }
}
@media screen and (max-width: 768px) {
  .input-container__input {
    width: 304px;
    height: 40px;
    padding: 0 12px;
  }
}
@media screen and (max-width: 360px) {
  .input-container__input {
    width: 320px;
    font-size: 12px;
    line-height: 16px;
  }
}
