.two-columns__card_list_title {
  font-family: 'sgbold16';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 17px;
  color: #18171c;
}

@media screen and (max-width: 768px) {
  .two-columns__card_list_title {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 15px;
  }
}
@media screen and (max-width: 360px) {
  .two-columns__card_list_title {
    font-size: 26px;
    line-height: 26px;
    margin: 0 0 20px;
  }
}
