.on360 {
  display: none;
}

@media screen and (max-width: 1024px) {
  .two-columns__image {
    width: 420px;
  }
}
@media screen and (max-width: 768px) {
  .two-columns__image {
    width: 294px;
  }
}
@media screen and (max-width: 360px) {
  .two-columns__image {
    width: 320px;
  }
  .on360 {
    display: block;
  }
  .no360 {
    display: none;
  }
}
