@import url('../card_two-buttons/card_two-buttons.css');

.card_text {
  padding: 80px 0 100px 70px;
  width: 490px;
}

.pc-game-developers .card_text {
  padding: 60px 0 100px 70px;
  width: 560px;
}
.game-sales .card_text,
.multi-platform-publishing .card_text {
  padding: 80px 70px 100px 0;
  width: 490px;
}

.revenue-opportunities .card_text,
.use-cases .card_text {
  padding: 80px 0 0 70px;
  width: 520px;
}

.get-our-ebook .card_text {
  padding: 65px 0 100px 70px;
  width: 420px;
}

.contact-us .card_text {
  width: 420px;
}

@media screen and (max-width: 1024px) {
  .pc-game-developers .card_text {
    padding: 50px 0 80px 80px;
    width: 432px;
  }
  .game-sales .card_text,
  .multi-platform-publishing .card_text {
    padding: 55px 54px 80px 0;
    width: 378px;
  }
  .revenue-opportunities .card_text {
    padding: 55px 0 0 54px;
    width: 360px;
  }
  .get-our-ebook .card_text {
    padding: 0 54px 0;
    width: 325px;
  }
  .use-cases .card_text {
    padding: 55px 0 0 54px;
    width: 486px;
  }
  .card_text {
    padding: 55px 0 80px 54px;
    width: 378px;
  }
}
@media screen and (max-width: 768px) {
  .pc-game-developers .card_text {
    padding: 36px 0 60px 80px;
    width: 304px;
  }
  .game-sales .card_text,
  .multi-platform-publishing .card_text {
    padding: 51px 38px 60px 0;
    width: 266px;
  }
  .revenue-opportunities .card_text {
    padding: 51px 0 0 38px;
    width: 280px;
  }
  .get-our-ebook .card_text {
    padding: 0 38px 0;
    width: 228px;
  }
  .use-cases .card_text {
    padding: 51px 0 0 38px;
    width: 342px;
  }
  .card_text {
    padding: 51px 0 60px 38px;
    width: 266px;
  }
}
@media screen and (max-width: 360px) {
  .pc-game-developers .card_text {
    padding: 35px 0 0 20px;
    width: 320px;
  }
  .game-sales .card_text,
  .multi-platform-publishing .card_text,
  .revenue-opportunities .card_text,
  .use-cases .card_text,
  .card_text {
    padding: 40px 20px 0;
    width: 320px;
  }
  .get-our-ebook .card_text {
    padding: 40px 20px 0;
    width: 320px;
  }
}
