@import url("./card_name_line/card_name_line.css");
.card_name {
    display: flex;
    font-family:"sgbook20";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(24, 23, 28, 0.7);
    margin: 0;
}


.pc-game-developers .card_name {
    color: rgba(255, 255, 255, 0.7);
    
}


.revenue-opportunities .card_name {
    color: rgba(255, 255, 255, 0.7);
    
}
