.card_title {
  font-family: sgbold16;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 54px;
  color: #18171c;
  margin: 62px 0 0;
}
.card_title .on1024 {
  display: none;
}
.card_title .on768 {
  display: none;
}

.pc-game-developers .card_title {
  color: #ffffff;
  font-size: 86px;
  line-height: 85px;
  margin: 30px 0 0;
}

.use-cases .card_title,
.revenue-opportunities .card_title {
  color: #ffffff;
}

.get-our-ebook .card_title {
  margin: 22px 0 0;
}

@media screen and (max-width: 1024px) {
  .card_title {
    font-size: 36px;
    line-height: 40px;
    margin: 45px 0 0;
  }
  .card_title .on1024 {
    display: block;
  }
  .pc-game-developers .card_title {
    font-size: 69px;
    line-height: 68px;
    margin: 21px 0 0;
  }
  .get-our-ebook .card_title {
    margin: 19px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .card_title {
    font-size: 28px;
    line-height: 26px;
    margin: 36px 0 0;
  }
  .card_title .on768 {
    display: block;
  }
  .card_title .on1024 {
    display: none;
  }
  .pc-game-developers .card_title {
    font-size: 46px;
    line-height: 46px;
    margin: 21px 0 0;
  }
  .get-our-ebook .card_title {
    margin: 12px 0 0;
  }
}
@media screen and (max-width: 360px) {
  .card_title {
    font-size: 28px;
    line-height: 26px;
    margin: 25px 0 0;
  }
  .card_title .on768 {
    display: none;
  }
  .pc-game-developers .card_title {
    font-size: 36px;
    line-height: 36px;
    margin: 15px 0 0;
  }
  .card_title .no360 {
    display: none;
  }
  .get-our-ebook .card_title {
    margin: 17px 0 0;
  }
}
