@import url('./_button/use-cases__logo_button.css');
.use-cases__logo_buttons {
  background-color: #18171c;
  border: none;
  margin-top: 2px;
  margin-left: 437px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 25px);
  grid-column-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .use-cases__logo_buttons {
    margin-top: 2px;
    margin-left: 371px;
    grid-template-columns: repeat(2, 18px);
    grid-column-gap: 15px;
  }
  .use-cases__logo_buttons img {
    width: 18px;
  }
}
@media screen and (max-width: 768px) {
  .use-cases__logo_buttons {
    margin-top: -3px;
    margin-left: 211px;
    grid-template-columns: repeat(2, 13px);
    grid-column-gap: 12px;
  }
  .use-cases__logo_buttons img {
    width: 13px;
  }
}
