.use-cases__two-columns_text {
  font-family: 'sgbook20';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin: 0px 0 0;
  width: 630px;
}
.use-cases__two-columns_text:last-child {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1024px) {
  .use-cases__two-columns_text {
    width: 486px;
  }
}
@media screen and (max-width: 768px) {
  .use-cases__two-columns_text {
    font-size: 12px;
    line-height: 20px;
    width: 342px;
  }
}
@media screen and (max-width: 360px) {
  .use-cases__two-columns_text {
    font-size: 14px;
    line-height: 20px;
    width: 320px;
  }
}
