.button-black {
    background-color: #18171C;
    border-radius: 35px;
    border: 0;
    font-family: "sgmedium20";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding: 10px 25px 10px;
    width: max-content; 
}

.button-black:last-child {
    grid-column-start: 1;
    grid-column-end: 4;
}


  @media screen and (max-width: 768px){
    .button-black {
        padding: 7px 20px 7px;
        font-size: 12px;
        line-height: 18px;
    }
    .button-black:nth-last-child(-n+2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

  }
  @media screen and (max-width: 360px){
    .button-black {
        padding: 7px 20px 6px;
        font-size: 12px;
        line-height: 18px;
    }
    .button-black:nth-last-child(-n+2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
  }
