.button-black {
    background-color: #18171C;
    border-radius: 35px;
    border: 0;
    font-family: "sgmedium20";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding: 10px 25px 10px;
    width: max-content; 
}

.button-black:last-child {
    grid-column-start: 1;
    grid-column-end: 4;
}

