@import url('./_button/card__other-solutions_button.css');
@import url('./_text/card__other-solutions_text.css');

.card__other-solutions {
  display: grid;
  grid-template-columns: 16px 112px 16px;
  grid-column-gap: 26px;
  align-items: center;
  justify-items: center;
  margin: 30px auto 0;
  width: 200px;
}
