.input-container__label {
  margin: 0;
  font-family: 'sgbook20';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .input-container__label {
    font-size: 12px;
    line-height: 16px;
  }
}
